@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar-brand{
    font-family: 'Source Code Pro', monospace;
    color: white;
    padding-left: 12px;
    font-size: 2rem;
}

.span-red{
    color: #FF0000;
}

/* Form style */

.form-check{
    display: flex; 
    padding-left: 0;
}

.color-input{
    display: flex;
}

#create-button{
    display: flex; 
    justify-content: flex-end;
    padding: 0 12px;
    letter-spacing: 0.1rem;
}

#hard-skill{
    margin-right: 10%;
}

#soft-skill{
    margin-left: 10%;
}

.form-check-input:checked{
    background-color: #121213;
    border-color: #DCDCDC;
}

.form-check-input:focus{
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(220 220 220 / 25%);
}

.form-label{
    font-weight: 600;
}



/**********MEDIA QUERIES**********/

@media (min-width: 768px) { 
    .middle {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 992px;
        margin: 0 auto;  
    }
}